{% extends "base.html.twig" %}

{% block body %}
<br>
<br>
<br>
<br>
<br>
    <h1>Votre score est {{ note }}%</h1>
    <p>Vous avez repondu correctement sur <span style="color:green;"> {{ x }} </span> question(s).</p>
<br>
<br>
<br>
<br>
<br>
{% endblock %}