{% extends 'base1.html.twig' %}

{% block title %}New Formation{% endblock %}

{% block body %}
    <h1>Create new Formation</h1>

    {{ include('formation/_form.html.twig') }}
    <br>
    <a href="{{ path('formation_index') }}" class="btn btn-info">Retourner à la liste</a>
{% endblock %}
